<header class="site-header container">
  <div class="brand">
    <img src="/img/SW-logo.png" alt="SW logo" class="logo" />
  </div>
  <nav class="nav-right">
    <a href="/">CV3</a>
    <a href="/mint" class="btn-link">Mint my CV3</a>
      <script src="https://cdn.jsdelivr.net/npm/ethers@5.7.2/dist/ethers.umd.min.js"></script>
<script src="/js/wallet.js"></script>
<script src="/js/mint.js"></script>
  </nav>
</header>
<hr class="rule"/>
